body{
    width: 100%;
     

}
#name{
    font-size: 24px;
   font-family: Courier New, Courier, monospace;
}
@media screen and (max-width: 480px) {
    #name {
        font-size: 15px;
   font-family: Courier New, Courier, monospace;
    }
}